@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #ddd;
}
#contenedor{
    width: 100%;
    margin: auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: #155e29;
    margin-top: 5px;
    top: 0;
    left: 0;
}
img{
     width: 200px;
    height: 100px;
}
main{
    width: 100%;
    background-color: white;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #155e29;
    text-align: center;
    color: white;
    line-height: 50px;
}
.container_menu{
    width: 100%;
    height: 40px;
    background: #155e29;
    padding: 0px 20px;
    margin-top: 5px;
    text-align: center;
}
.menu{
    max-width: 950px;
    margin: auto;
    height: 50%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background:#155e29;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}
nav > ul > li:first-child > a{
    background-image: url(../Prueba/casa.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 30px;
}
nav > ul > li:first-child:hover > a{
    background-image: url(../Prueba/casa.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
} 
.selector{
    transform: scale(1.1);
    background-color: #155e29;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}
nav ul li ul{
    width: 250px;
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 45px;
}
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left:20px;

}
nav ul li ul li a{
    display: block;
    color: black;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #155e29;
    color: whitesmoke;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
body{
    font-size: 1rem;
}
th,td{
    padding: 10px;
}

h1{
    background-color: #333;
    border: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
td{
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}

th{
    background-color:#155e29;
    color: whitesmoke;
 }
 .SO:hover{
    background-color: #2b94ca;
 }
 .LC:hover{
    background-color: #fffaa0;
 }
 .PW:hover{
    background-color:#99a2dd ;
 }
 .BD:hover{
    background-color: #b9ce86 ;
 }
 .C3:hover{
    background-color: #cce0ea;
 }
 .FM:hover{
    background-color: #b17bbf;
 }